<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>UTF8Filter</filter-name>
        <filter-class>filter.UTF8Filter</filter-class>
    </filter>
    <filter>
        <filter-name>authenFilter</filter-name>
        <filter-class>filter.authenFilter</filter-class>
    </filter>
    <filter>
        <filter-name>refreshAccount</filter-name>
        <filter-class>filter.refreshAccount</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>authenFilter</filter-name>
        <url-pattern>/home.jsp</url-pattern>
        <url-pattern>/course.jsp</url-pattern>
        <url-pattern>/CreateAssignment.jsp</url-pattern>
        <url-pattern>/assignment.jsp</url-pattern>
        <url-pattern>/CheckAssignment.jsp</url-pattern>
        <url-pattern>/SentAssignment.jsp</url-pattern>
        <url-pattern>/groupWork.jsp</url-pattern>
        <url-pattern>/selectPeople</url-pattern>
        <url-pattern>/uploadAssignment.jsp</url-pattern>
        <url-pattern>/sendAssignment</url-pattern>
        <url-pattern>/CheckAssignment.jsp</url-pattern>
        <url-pattern>/GetSentAssignment</url-pattern>
        <url-pattern>/checkAssignment</url-pattern>
        <url-pattern>/anotherAmFile</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>refreshAccount</filter-name>
        <url-pattern>/home.jsp</url-pattern>
        <url-pattern>/course.jsp</url-pattern>
        <url-pattern>/CreateAssignment.jsp</url-pattern>
        <url-pattern>/assignment.jsp</url-pattern>
        <url-pattern>/CheckAssignment.jsp</url-pattern>
        <url-pattern>/SentAssignment.jsp</url-pattern>
        <url-pattern>/home.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UTF8Filter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>servlet.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isExistingEmail</servlet-name>
        <servlet-class>api.isExistingEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signout</servlet-name>
        <servlet-class>servlet.signout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setCourseSession</servlet-name>
        <servlet-class>servlet.setCourseSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myhome</servlet-name>
        <servlet-class>servlet.myhome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userscore</servlet-name>
        <servlet-class>servlet.userscore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>joinCourseServlet</servlet-name>
        <servlet-class>servlet.joinCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>approvesl</servlet-name>
        <servlet-class>api.approvesl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disapprovesl</servlet-name>
        <servlet-class>api.disapprovesl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createCourse</servlet-name>
        <servlet-class>servlet.createCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourseSl</servlet-name>
        <servlet-class>servlet.CreateCourseSl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createAssignment</servlet-name>
        <servlet-class>servlet.createAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeAssignment</servlet-name>
        <servlet-class>servlet.removeAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnnounce</servlet-name>
        <servlet-class>servlet.AddAnnounce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteAssignment</servlet-name>
        <servlet-class>servlet.deleteAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>renameCourse</servlet-name>
        <servlet-class>servlet.renameCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCourse</servlet-name>
        <servlet-class>servlet.deleteCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>makeTeacher</servlet-name>
        <servlet-class>servlet.makeTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeTeacher</servlet-name>
        <servlet-class>servlet.removeTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comment</servlet-name>
        <servlet-class>servlet.comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editAssignment</servlet-name>
        <servlet-class>servlet.editAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAssignment</servlet-name>
        <servlet-class>servlet.updateAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectPeople</servlet-name>
        <servlet-class>servlet.selectPeople</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addMember</servlet-name>
        <servlet-class>servlet.addMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendAssignment</servlet-name>
        <servlet-class>servlet.sendAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commentStAm</servlet-name>
        <servlet-class>servlet.commentStAm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadAssignmentFile</servlet-name>
        <servlet-class>servlet.uploadAssignmentFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadAssignmentOnWeb</servlet-name>
        <servlet-class>servlet.uploadAssignmentOnWeb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSentAssignment</servlet-name>
        <servlet-class>servlet.GetSentAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAnnounceStudent</servlet-name>
        <servlet-class>servlet.showAnnounceStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAnnounceTeacher</servlet-name>
        <servlet-class>servlet.showAnnounceTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showStudentScore</servlet-name>
        <servlet-class>servlet.showStudentScore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAssignmentDetail</servlet-name>
        <servlet-class>servlet.showAssignmentDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAssignment</servlet-name>
        <servlet-class>servlet.showAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAssignmentInCourse</servlet-name>
        <servlet-class>servlet.showAssignmentInCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkAssignment</servlet-name>
        <servlet-class>servlet.checkAssignment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>anotherAmFile</servlet-name>
        <servlet-class>servlet.anotherAmFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateScoreStAmFile</servlet-name>
        <servlet-class>servlet.updateScoreStAmFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateScoreStAmOnWeb</servlet-name>
        <servlet-class>servlet.updateScoreStAmOnWeb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>autoChecking</servlet-name>
        <servlet-class>servlet.autoChecking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Checkcopy</servlet-name>
        <servlet-class>servlet.Checkcopy</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isExistingEmail</servlet-name>
        <url-pattern>/isExistingEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signout</servlet-name>
        <url-pattern>/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setCourseSession</servlet-name>
        <url-pattern>/setCourseSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myhome</servlet-name>
        <url-pattern>/myhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userscore</servlet-name>
        <url-pattern>/userscore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>joinCourseServlet</servlet-name>
        <url-pattern>/joinCourseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>approvesl</servlet-name>
        <url-pattern>/approvesl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disapprovesl</servlet-name>
        <url-pattern>/disapprovesl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createCourse</servlet-name>
        <url-pattern>/createCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourseSl</servlet-name>
        <url-pattern>/CreateCourseSl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createAssignment</servlet-name>
        <url-pattern>/createAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeAssignment</servlet-name>
        <url-pattern>/removeAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnnounce</servlet-name>
        <url-pattern>/AddAnnounce</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteAssignment</servlet-name>
        <url-pattern>/deleteAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>renameCourse</servlet-name>
        <url-pattern>/renameCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCourse</servlet-name>
        <url-pattern>/deleteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>makeTeacher</servlet-name>
        <url-pattern>/makeTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeTeacher</servlet-name>
        <url-pattern>/removeTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comment</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editAssignment</servlet-name>
        <url-pattern>/editAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAssignment</servlet-name>
        <url-pattern>/updateAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectPeople</servlet-name>
        <url-pattern>/selectPeople</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addMember</servlet-name>
        <url-pattern>/addMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendAssignment</servlet-name>
        <url-pattern>/sendAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>commentStAm</servlet-name>
        <url-pattern>/commentStAm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadAssignmentFile</servlet-name>
        <url-pattern>/uploadAssignmentFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadAssignmentOnWeb</servlet-name>
        <url-pattern>/uploadAssignmentOnWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSentAssignment</servlet-name>
        <url-pattern>/GetSentAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAnnounceStudent</servlet-name>
        <url-pattern>/showAnnounceStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAnnounceTeacher</servlet-name>
        <url-pattern>/showAnnounceTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showStudentScore</servlet-name>
        <url-pattern>/showStudentScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAssignmentDetail</servlet-name>
        <url-pattern>/showAssignmentDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAssignment</servlet-name>
        <url-pattern>/showAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAssignmentInCourse</servlet-name>
        <url-pattern>/showAssignmentInCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkAssignment</servlet-name>
        <url-pattern>/checkAssignment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>anotherAmFile</servlet-name>
        <url-pattern>/anotherAmFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateScoreStAmFile</servlet-name>
        <url-pattern>/updateScoreStAmFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateScoreStAmOnWeb</servlet-name>
        <url-pattern>/updateScoreStAmOnWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>autoChecking</servlet-name>
        <url-pattern>/autoChecking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Checkcopy</servlet-name>
        <url-pattern>/Checkcopy</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
